[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

tox = "*"
bandit = "*"
pylint = "*"
pytest = "*"

[packages]

click = "*"
PyYAML = "*"
crayons = "*"
"click-completion" = "*"

[requires]
python_version = "3.6"